body{
  background-color: rgb(184, 141, 141);
}

.logout{
  background-color: rgb(235, 241, 243);
  width:300px;
  border-radius:6px;
  margin: 0 auto 0 auto;
  padding:0px 0px 70px 15px;
  border: #2980b9 4px solid; 
}

#signupDiv, #loginDiv{
  background-color: rgb(235, 241, 243);
  width:300px;
  border-radius:6px;
  margin: 0 auto 0 auto;
  padding:0px 0px 70px 15px;
  border: #2980b9 4px solid; 
}